[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside2 = "5.15.2"
openpyxl = "3.0.7"
msoffcrypto-tool = "4.12.0"

[dev-packages]

[requires]
python_version = "3.9"
